:root {
  --baseWhiteColor: #fff;

  --baseOrangeColor: #fa712b;
  --baseOrangeColorHover: #e65d17;

  --bgPeach: #ffdfcc;

  --baseGrayColor: #f3f4f5;

  --baseGreenColor: #35bc4a;

  --baseBlackColor: #13151a;

  --bgMint: #d4fcdb;

  --secondaryColor: #f75d47;
  --secondaryColorHover: #f64027;

  --pinkColor: #fa9a8d;
  --grayBorderColor: #d2d7d6;
  --grayBorderHoverColor: #a7b1af;

  --buttonTextColor: #3c514e;

  --opalColor: #163832;
}

.mr32 {
  margin-right: 32px;
}
